*{
    font-family: "Space Grotesk", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #181717;
    color: white;
    margin: 0 2.5rem;
}

.game-details {
    background-color: #160F0F;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}
.game-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 70%;
}

.game-title{
    font-size: 3rem;
    font-weight: 700;
}

.game-description{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.game-description h3{
    font-size: 1rem;
    font-weight: 400;
}
.game-description p{
    font-size: 1rem;
    font-weight: 400;
    color: #A4A4A4;
    padding-right: 1rem;
}

.tags{
    color: #A4A4A4;
    font-size: 0.85rem;
}
.tag-list{
    font-size: 0.85rem;
    color: white;
}

.additional-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}
.game-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
    flex-wrap: wrap;
    overflow: hidden;
}

.game-image img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
}

.game-stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 1rem;
    gap: 0.5rem;
}

.stats{
    display: flex;
    gap: 0.5rem;
}

.stats span{
    color: #A4A4A4;
}

.btn{
    padding: 0.5rem 1rem;
    border: 1px solid white;
    color: white;
    border-radius: 29px;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
}


.dev-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info span{
    color:#A4A4A4;
    padding-right: 1rem;
}

.info p{
    text-align: right;
}

.game-screenshots {
    margin-top: 2rem;
    background-color: #160F0F;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
}

.game-screenshots h1{
    font-size: 2rem;
    font-weight: 700;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}
.screenshots img {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 1rem;
}
.screenshots img:hover {
    transform: scale(1.05);
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
}
.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.game-requirements {
    margin-top: 2rem;
    background-color: #160F0F;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.game-requirements h1{
    font-size: 2rem;
    font-weight: 700;
}

.requirements{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.ratings {
    margin-top: 2rem;
    background-color: #160F0F;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.ratings h1{
    font-size: 2rem;
    font-weight: 700;
}

.rating {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 10px;
    width: 100%;
}

.rating-info {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.rating-info span {
    font-size: 1rem;
    color: #A4A4A4;
    width: 100px;
}

.bar-container {
    position: relative;
    flex-grow: 1;
    height: 20px;
    margin: 0 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.bar {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bar-background {
    height: 100%;
    width: 100%;
    background-color: #181717;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.exceptional {
    background-color: #4caf4f8e; /* Green */
}

.recommended {
    background-color: #2195f3a0; /* Blue */
}

.meh {
    background-color: #ffc10792; /* Amber */
}

.skip {
    background-color: #f4433695; /* Red */
}

.percentage {
    font-size: 1rem;
    color: white;
    width: 50px;
    text-align: right;
}




::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #131212;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #585858;
}

/* Responsive styles */
@media (max-width: 768px) {
    .game-details {
        flex-direction: column;
    }
    .game-info, .additional-info {
        width: 100%;
    }
    .game-image img {
        max-width: 100%;
        height: auto;
    }
}