*{
    font-family: "Space Grotesk", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #181717;
    color: white;
    margin: 0 2.5rem;
}

header{
    background-color: #160F0F;
    border-radius: 1rem;
    max-width: 1500px; /* Fixed width for larger screens */
    width: 100%;
    margin: 0 auto;
    padding: 3rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.5rem 0;
}

.headlines{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    max-width: 450px;
}

.descriptions{
    font-size: 1rem;
    max-width: 500px;
}

.links{
    display: flex;
    gap: 1rem;

}

.logins {
    width: 100%;
    padding: 1rem 3.6rem;
    margin: 1rem 0;
    border-radius: 29px;
    border: 1px solid #FFFFFF;
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}

.logins:hover{
    background-color: white;
    color: black;
}

.signups {
    width: 100%;
    padding: 1rem 3.6rem;
    margin: 1rem 0;
    border-radius: 29px;
    border: 1px solid #FFFFFF;
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}

.signups:hover{
    color: rgb(151, 151, 151);
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
    flex-wrap: wrap;
}

.images img{
    width: 100%;
    border-top: 2px solid #5F5454;
    border-left: 2px solid #5F5454;
    border-right: 2px solid #5F5454;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.features{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    margin: 2rem 0;
}

.feature{
    background-color: #160F0F;  
    padding: 2rem;
    border-radius: 1rem;
}

.feature img{
    width: 65px;
    height: 65px;
    border-radius: 5px;
    background-color: #181717;
    padding: 1rem;
    object-fit: cover;
}

.feature h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
}

.feature p{
    max-width: 500px;
    font-size: 1rem;
}


::-webkit-scrollbar{
    width: 5px;

}

::-webkit-scrollbar-track {
    background: #131212;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #585858;
  }


@media (max-width: 480px) {

    header{
        padding: 3rem 2rem 2rem 2rem;
    }
    .images{
        display: none;
    }

    .images img{
        border-radius: 7px 7px 0 0;
    }

    .headlines {
        font-size: 2rem;
        max-width: 500px;
    }
    .features{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .feature{
        padding: 1.5rem;
    }

    .feature h1{
        font-size: 1.5rem;
    }

    .feature p{
        font-size: 0.75rem;
    } 

    .links{
        flex-direction: column;
        gap: 0.5rem;
    }

    .descriptions {
        font-size: 0.75rem;
    }

    .logins {
        padding: 1rem 5rem;
        font-size: 15px;
        margin: 0.3rem 0;
    }    

    .signups {
        padding: 1rem 5rem;
        font-size: 15px;
        margin: 0.3rem 0;
    }
}


